<div class="ticket-container <%= render 'tickets/ticket-body', obj: @ticket %>">
  <%= render 'tickets/ticket-nav' %>
  <h1 class="all-tickets-header"><i class="fas fa-lightbulb"></i> Ticket id#<%= @ticket['id'] %></h1>

  <div class="single-ticket-box">
    <div class="single-ticket-date"><%= 
          "#{@ticket['created_at'].split("T")[0].split("-")[2]}/
          #{@ticket['created_at'].split("T")[0].split("-")[1]}/
          #{@ticket['created_at'].split("T")[0].split("-")[0]}" %>
    </div>
    <p class="single-ticket-subject"><strong><%= @ticket['subject'] %></strong></p>
    <p class="single-ticket-description"><%= @ticket['description'] %></p>
    <ul class="single-ticket-tags">
      <li class="tag-header">Tags:</li>
      <% @ticket['tags'].each do |tag| %>
        <li class="ticket-tags"><%= tag %></li>
      <% end %>
    </ul>
     <%= link_to "Back to Tickets", :back, class: "back-to-tickets" %>
  </div>
</div>