<h1>Ticket No#<%= @ticket['id'] %></h1>


<div><%= @ticket['id'] %></div>
<div><%= @ticket['created_at'].split("T")[0] %></div>
<div><%= @ticket['created_at'].split("T")[1].split("Z")[0] %></div>
<div><%= @ticket['subject'] %></div>
<div><%= @ticket['description'] %></div>


<%= link_to "Back to Tickets", :back %>